
<h3 (click)='doSwitchMode()'>分隊
    <div class="sub">Ver. 0.15.20160928</div></h3>
<div id='person-block' *ngIf="mode == 0" [@flyInOut]="'in'">
    <div *ngFor="let nameItem of nameList"
         class='block' [ngClass]="{on: nameItem.join}"
         (click)='doItemSwitch(nameItem)'>
        {{ nameItem.name }}
        <div class="memo-text">{{ nameItem.count }}</div>
        </div>

    <div class='generatePad'>
        <button (click)='doGenerate()'>Generate</button>
        <button >Reset</button>
    </div>
</div>

<div id='show-block' *ngIf="mode == 1" [@flyInOut]="'in'">
    RESULT
    <button (click)='doGoBack()'>Back</button>
</div>
