
.block {
    font-size: 1em;
    width: 23%;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 1%;
    padding: 1em 0;
    box-sizing: border-box;
    position: relative;

    /* off style */
    border: 2px dashed #666;
    background-color: none;
}

.block .memo-text {
    position: absolute;
    font-size: 0.6em;
    bottom: 5%;
    right: 5%;
}

.on {
    /*color: blue;*/
    border: 2px solid #329FFF;
    background-color: #B2EAFF;
}

.generatePad {
    text-align: center;
    display: block;
    clear: both;
    padding: 10px;
}

#person-block, #show-block {
    /* border: 1px solid black; */
    box-sizing: border-box;
    position: absolute;
    width: 100%;
}

.match-block {
    position: relative;

    > div {
        display: inline-block;
        position: absolute;
        font-size: 2em;
    }

    > img {
        opacity: 0.4;
    }
}

@media(max-width: 400px) {
    .match-block > div {
        font-size: 1em;
    }
}

.match-block > div.team1 {
    left: 10%;
}
.match-block > div.team2 {
    left: 65%;
}
.match-block > div.member1 {
    top: 25%;
}
.match-block > div.member2 {
    top: 63%;
    padding-left: .5em;
}

#setup {
    background-color: #c0c0c0;
    z-index: 0;

    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#setup .setup-core-block {
    color: white;
    background-color: #323232;
    z-index: 1;
    width: 100%;
    max-width: 800px;
}
