
// Reset CSS
@import '~reset-css/reset.css';

// Noto Sans font TC
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 140%;
}

body {
    text-align: center;
}

h3,h4 {
    vertical-align: middle;
}

h3 {
    font-size: 1.3em;
    padding: 1em 0;
    background-color: #c4ffb2;/*#9BF1FF*/
    position: relative;
}

h3 .sub {
    font-size: 0.4em;
    color: #505050;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

h4 {
    font-size: 1.1em;
    padding: 1em 0;
    position: relative;
}

.menu {
    opacity: 0.5;
    position: absolute;
    top: calc(50% - 16px);
    left: 10px;
    vertical-align: middle;
}

button {
    font-size: 1.3em;
    color: white;
    background-color: #ff7d4c;
    border: none;
    border-radius: .1em;
    display: inline-block;
    margin: 0 5px;
    padding: .4em .4em;

    box-shadow: .05em .05em .05em #888888;
}

.buttons-pad {
    text-align: center;
    display: block;
    clear: both;
    padding: 10px;
}

@media(max-width: 400px) {
    button {
        margin: 0 2px;
    }
}

button:active {
    transform: scale(0.98);
}

.block {
    font-size: 1em;
    width: 23%;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 1%;
    padding: 1em 0;
    box-sizing: border-box;
    position: relative;

    /* off style */
    border: 2px dashed #666;
    background-color: none;
}

.block .memo-text {
    position: absolute;
    font-size: 0.6em;
    bottom: 5%;
    right: 5%;
}

.on {
    /*color: blue;*/
    border: 2px solid #329FFF;
    background-color: #B2EAFF;
}

#person-block, #show-block {
    /* border: 1px solid black; */
    box-sizing: border-box;
    position: absolute;
    width: 100%;
}

.match-block {
    position: relative;

    > div {
        display: inline-block;
        position: absolute;
        font-size: 2em;
        @media(max-width: 400px) {
            font-size: 1em;
        }
    }

    > img {
        opacity: 0.4;
    }

    > div.team1 { left: 10%; }
    > div.team2 { left: 65%; }
    > div.member1 { top: 25%; }
    > div.member2 { top: 63%; padding-left: .5em; }
}

#setup {
    background-color: #c0c0c0;
    z-index: 0;

    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#setup .setup-core-block {
    color: white;
    background-color: #323232;
    z-index: 1;
    width: 100%;
    max-width: 800px;
}
