
// Reset CSS
@import '~reset-css/reset.css';

// Noto Sans font TC
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 140%;
}

body {
    text-align: center;
}

h3,h4 {
    vertical-align: middle;
}

h3 {
    font-size: 1.3em;
    padding: 1em 0;
    background-color: #c4ffb2;/*#9BF1FF*/
    position: relative;
}

h3 .sub {
    font-size: 0.4em;
    color: #505050;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

h4 {
    font-size: 1.1em;
    padding: 1em 0;
    position: relative;
}

h5 {
    font-size: 0.5em;
    display: inline-block;
}

* { box-sizing: border-box; }

.menu {
    opacity: 0.5;
    position: absolute;
    top: calc(50% - 16px);
    left: 10px;
    vertical-align: middle;
}

button {
    font-size: 1.3em;
    color: white;
    background-color: #ff7d4c;
    border: none;
    border-radius: .1em;
    display: inline-block;
    margin: 0 5px;
    padding: .4em .4em;

    box-shadow: .05em .05em .05em #888888;
}

.buttons-pad {
    text-align: center;
    display: block;
    clear: both;
    padding: 10px;
}

@media(max-width: 400px) {
    button {
        margin: 0 2px;
    }
}

button:active {
    transform: scale(0.98);
}

// #person-block, #show-block {
//     /* border: 1px solid black; */
//     box-sizing: border-box;
//     position: absolute;
//     width: 100%;
// }

.host {
    z-index: 0;
    position: fixed;
    top: calc(/* padding */ 1em + /* font height */ 1.6em + /* padding */ 1em + /* margin */ 0.5em);
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
}
