
// Reset CSS
@import '~reset-css/reset.css';

// font-awesome
@import '~font-awesome/css/font-awesome.min.css';

// Noto Sans font TC
// from @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(/assets/fonts/NotoSansTC-Regular.woff2) format('woff2'),
        url(/assets/fonts/NotoSansTC-Regular.woff) format('woff'),
        url(/assets/fonts/NotoSansTC-Regular.otf) format('opentype');
}

* { box-sizing: border-box; }

html {
    font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
    font-size: 140%;
}

body {
    text-align: center;
}

.header {
    background-color: #c4ffb2;/*#9BF1FF*/
    position: relative;
    line-height: 4rem;
    height: 4rem;
}

.content { position: relative; }

h3,h4 {
    vertical-align: middle;
}


.sub {
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: #505050;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.header > h3 {
    font-size: 1.3rem;
    padding-top: 1.35rem;
    &.subline {
        font-size: 0.6rem;
        padding-top: 0.6rem;
    }
}

h4 {
    font-size: 1.3rem;
    line-height: 1.3rem;
}

h5 {
    font-size: 0.5em;
    display: inline-block;
}


.menu {
    line-height: 4rem;
    font-size: 1.2rem;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 10px;
}

button {
    font-size: 1.3em;
    color: white;
    background-color: #ff7d4c;
    border: none;
    border-radius: .1em;
    display: inline-block;
    margin: 5px;
    padding: .4em .4em;

    box-shadow: .05em .05em .05em #888888;
}

.buttons-pad {
    text-align: center;
    display: block;
    clear: both;
    padding: 10px;
}

button.button-cancel {
    background-color: #13d147;
}

@media(max-width: 400px) {
    button {
        margin: 2px;
    }
}

button:active {
    transform: scale(0.98);
}

// #person-block, #show-block {
//     /* border: 1px solid black; */
//     box-sizing: border-box;
//     position: absolute;
//     width: 100%;
// }

.host {
    background: white;
    z-index: 0;
    position: relative;
    // top: calc(/* padding */ 1em + /* font height */ 1.6em + /* padding */ 1em + /* margin */ 0.5em);
    // bottom: 0;
    // left: 0;
    // right: 0;
    overflow: scroll;

    &.base { z-index: -5; }
}
