.match-block {
    position: relative;

    > .delete-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
    }
}

.match-base {
    position: relative;
    padding: 0 0.5em;

    > div {
        display: inline-block;
        position: absolute;
        font-size: 2em;
        @media(max-width: 400px) {
            font-size: 1em;
        }
    }

    > img {
        opacity: 0.6;
    }

    > div.team1 > img, > div.team2 > img {
        width: 0.8em;
        position: absolute;
        top: -0.7em;
        left: -0.5em;
    }

    > div.team1 { left: 15%; }
    > div.team2 { left: 64%; }
    > div.member1 { top: 26%; }
    > div.member2 { top: 66%; padding-left: .5em; }
}
